@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-4 mx-auto">
    <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <h3 class="h3 mb-3 fw-normal">Новый пароль</h3>
        <div class="row g-3">
            <input asp-for="NewPassword" class="form-control">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <p></p>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Изменить</button>
    </form>
</div>


