@model string
@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-4 mx-auto">
    <h4 class="h3 mb-3 fw-normal">Новый токен API</h4>
    <p>@Model</p>
    <p>Истекает через год или во время создания нового токена</p>
</div>


